.rvvup-modal {
  width: 100%;
  bottom: 0;
  top: auto;
  height: fit-content;
  max-height: 80%;
  transition: all .5s;

  .modal-body {
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    transform: translateY(-50%);
    top: 50%;
    bottom: auto;
    max-width: 550px;
  }
}