iframe {
  border: 0;
  width: 100%;
  max-width: 100%;
}

.rvvup-method-container {
  background-color: var(--radio-input-wrapper__background-color);
  border: var(--radio-input-wrapper__border-weight) var(--base__border-style) var(--radio-input-wrapper__border-color);
  border-radius: var(--radio-input-wrapper__border-radius);
  display: grid;
  gap: var(--indent__base);
  margin-top: var(--indent__base);
  padding: var(--indent__base);

  &.active {
    background-color: var(--radio-input-wrapper__background-color-active);
    border: var(--selected-border, var(--radio-input-wrapper__border-weight-active) var(--base__border-style) var(--radio-input-wrapper__border-color-active));
  }
}

.rvvup-loader {
  background-color: white;
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: 1;
}

.rvvup-button {
  min-height: auto;

  .payment-method-name {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font__s);
    font-weight: var(--font-weight__semibold);
    gap: var(--indent__s);
    justify-content: space-between;
    width: 100%;
  }
}
